@model TheGioiLoa.Models.UserDetailsViewModel
@{
    ViewBag.Title = "Tài Khoản";
}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="avatar">
                            <img class="avt-img" src="~/Content/Home/img/avt-gentleman.png" width="60" height="60" />
                        </div>
                        <div class="user-full-name ml-3 mt-2">
                            <p class="mb-1">Xin chào,</p>
                            <p class="font-weight-500">@Model.User.FullName</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-shadow">
                <div class="card-body">
                    <div class="manage-menu-left">
                        <ul class="menu-left-main-ul">
                            <li class="menu-left-main-li">
                                <a href="/tai-khoan/quan-ly-don-hang" data-partial="_OrderManagePartial" class="partial-view">
                                    <i class="fas fa-list"></i>
                                    Quản lý đơn hàng
                                </a>
                            </li>
                            <li class="menu-left-main-li">
                                <a href="/tai-khoan/quan-ly-thong-tin" data-partial="_AccountManagePartial" class="partial-view">
                                    <i class="fas fa-user"></i>
                                    Quản lý thông tin
                                </a>
                                <ul class="menu-left-sub-ul">
                                    <li class="menu-left-sub-li"><a href="/tai-khoan/quan-ly-thong-tin" data-partial="_AccountManagePartial" class="partial-view">Thông tin tài khoản</a></li>
                                    <li class="menu-left-sub-li"><a href="/tai-khoan/doi-mat-khau" data-partial="_ChangePasswordPartial" class="partial-view">Đổi mật khẩu</a></li>
                                </ul>
                            </li>
                            <li class="menu-left-main-li">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-user"></i>
                                    Hoạt động của bạn
                                </a>
                                <ul class="menu-left-sub-ul">
                                    <li class="menu-left-sub-li"><a href="/tai-khoan/nhan-xet-cua-toi" data-partial="_MyCommentPartial" class="partial-view">Nhận xét của tôi</a></li>
                                    <li class="menu-left-sub-li"><a href="/tai-khoan/thong-tin-bao-hanh" data-partial="_MyCommentPartial" class="partial-view">Bảo hành sửa chữa</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 position-relative">
            <div class="card card-shadow">
                <div class="card-body" id="renderData">
                    @Html.Action("Area", "Manage", new { partial = Model.PartialView })
                </div>
            </div>
            <div id="LoadingGifRightCard" class="spinner-loading" style="display: none;">
                <img src="~/Content/Spinner.png" alt="Loading..." />
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/manage")
}