@model TheGioiLoa.Models.ViewModel.ContactViewModel

<a class="text-dark" href="tel:@Model.Hotline"><i class="fas fa-phone"></i> Hotline 24/7</a>
<a href="tel:0888836006" class="h4 font-weight-bold">@Model.Hotline</a>
