@model TheGioiLoa.Models.ViewModel.ContactViewModel

    <a class="text-white" href="tel:@Model.Hotline">
        <div class="d-flex mx-auto">
                <div class="w-25 text-center my-auto">
                    <i class="fas fa-phone d-inline-block"></i>
                </div>
                <div class="small">
                    <h6 class="mb-0 font-weight-bold">@Model.Hotline</h6>
                    <p class="mb-0">Mua hàng - Góp ý - Bảo hành</p>
                </div>
        </div>
    </a>
