@model IEnumerable<TheGioiLoa.Models.Category>
@{
    var i = 1;
}

<ul class="main-menu-ul" style="max-height: 405px; background:#fff">
    @foreach (var item in Model)
    {
        if (item.IsShowMenu)
        {
            <li class="main-menu-li">
                <a href="~/cua-hang/danh-muc/@item.CategoryId/@item.Url"><i class="fas fa-check-circle"></i>@item.Name</a>
                <ul class="child-menu-ul">
                    @foreach (var child in Model)
                    {
                        if (child.CategoryParentId == item.CategoryId)
                        {
                            <li class="child-menu-li">
                                <a href="~/cua-hang/danh-muc/@item.CategoryId/@item.Name">@child.Name</a>
                                <ul class="sub-menu-ul">
                                    @foreach (var sub in Model)
                                    {
                                        if (sub.CategoryParentId == child.CategoryId)
                                        {
                                            <li class="sub-menu-li">
                                                <a href="#">@sub.Name</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>

                        }
                    }
                </ul>
            </li>
            i++;
        }

        if (i > 9)
        {
            break;
        }
    }
</ul>
