@model IEnumerable<TheGioiLoa.Models.ViewModel.CartViewModel>
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mb-4">
    <div class="top-checkout row">
        <div class="top-checkout-list col-md-4 col-12 active">
            <p><i class="number">1</i>Giỏ hàng của bạn</p>
        </div>
        <div class="top-checkout-list col-md-4 d-none d-md-inline">
            <p><i class="number">2</i>Thông tin & Thanh toán</p>
        </div>
        <div class="top-checkout-list col-md-4 d-none d-md-inline">
            <p id="nk-hoan-tat-don-hang"><i class="number">3</i>Hoàn tất đơn hàng</p>
        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-md-8 col-md-8 col-lg-8 col-lg-8 col-xs-12">
            <div class="card card-shadow card-information">
                <div id="loadingGif-Detail" class="spinner-loading loading-gif" style="display: none">
                    <img src="/Content/Spinner.png" alt="Loading...">
                </div>
                <div class="card-body cart-content" id="cartContent" data-value="step1">
                    <h5 class="card-title">Giỏ hàng của bạn</h5>
                    <hr />
                    <div class="cartInformation" id="cartDetails">
                        @Html.Partial("_CartDetailPartial", Model)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-4 col-lg-4 col-md-4 col-xs-12">
            <div class="card card-shadow mb-4">
                <div id="loadingGif-Total" class="spinner-loading loading-gif" style="display: none">
                    <img src="/Content/Spinner.png" alt="Loading...">
                </div>
                <div class="card-body box-payment" id="cartTotal">
                    @Html.Partial("_CartTotalPartial", Model)
                </div>
            </div>
            <div id="cartBtnAction">
                @Html.Partial("_CartBtnActionPartial")
            </div>
        </div>
    </div>
</div>


@section heads {
    <style type="text/css">
        body {
            background: #f3f5f7;
        }
    </style>
}
@section scripts{
    <script>
        // Xóa khỏi giỏ
        $(document).on("click",".delete-item",function () {
            $(".loading-gif").show();
            removeItem($(this).data("id"));
        })

        function removeItem(productId) {
            $.ajax({
                method: "POST",
                url: "/Cart/Remove",
                data: { productId: productId },
                success: function () {
                    updateCart();
                    updateCartTotal();
                    UpdateCartBtnAction();
                }
            });
        }
        function changeCountItem(productId, isCount) {
            $(".loading-gif").show();
            $.ajax({
                method: "POST",
                url: "/Cart/Update",
                data: { productId: productId, isCount: isCount },
                success: function () {
                    updateCart();
                    updateCartTotal();
                    UpdateCartBtnAction();
                }
            });
        }

        function updateCart() {
            $.ajax({
                method: "POST",
                url: "/Cart/LoadCartDetails",
                success: function (data) {
                    $("#cartDetails").html(data);
                    $("#loadingGif-Detail").hide();
                }
            });
        }

        function updateCartTotal() {
            $.ajax({
                method: "POST",
                url: "/Cart/LoadCartTotal",
                success: function (data) {
                    $("#cartTotal").html(data);
                    $("#loadingGif-Total").hide();
                }
            });
        }
        function UpdateCartBtnAction() {
            $.ajax({
                method: "POST",
                url: "/Cart/LoadCartBtnAction",
                success: function (data) {
                    $("#cartBtnAction").html(data);
                }
            });
        }

        // Cập nhật số lượng
        $(document).on("click", ".cart-count-button", function () {
            $(".loading-gift").show();
            var isCount = (/true/i).test($(this).data("count"));
            var productId = $(this).data("id");
            changeCountItem(productId, isCount);
        })
    </script>
}

