
@{
    ViewBag.Title = "OrderFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-4">
    <div class="card card-shadow">
        <div class="card-body text-center">
            <p class="text-center">Đặt hàng thất bại! Vui lòng thử lại!</p>
            <a href="~/" class="btn btn-warning">Quay về trang chủ</a>
            <a href="~/cua-hang" class="btn btn-success">Đến cửa hàng</a>
        </div>
    </div>
</div>


