@{
    ViewBag.Title = "Trang Chủ";
    ViewBag.IsMenuExpand = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main">
    <div class="container" id="sliderContainer">
        <div class="row">
            <div class="col-md-9 px-0" style="@(!Request.Browser.IsMobileDevice?"margin-left: 24.5%":"")">
                @Html.Action("LoadSlider", "Home")
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-4 my-2">
                <div class="text-center py-2 border border-success bg-white">
                    <i class="fas fa-truck text-success" style="font-size: 25px;"></i>
                    <h6 class="mt-3 mb-1"><a href="~/trang/29/chinh-sach-van-chuyen">GIAO HÀNG MIỄN PHÍ</a></h6>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="text-center py-2 border border-success bg-white">
                    <i class="fas fa-credit-card text-success" style="font-size: 25px;"></i>
                    <h6 class="mt-3 mb-1"><a href="~/trang/28/chinh-sach-thanh-toan">THANH TOÁN LINH HOẠT</a></h6>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="text-center py-2 border border-success bg-white">
                    <i class="fas fa-shield-alt text-success" style="font-size: 25px;"></i>
                    <h6 class="mt-3 mb-1"><a href="~/trang/25/chinh-sach-bao-hanh">BẢO HÀNH UY TÍN</a></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="lazy">
        @for (int i = 1; i <= 10; i++)
        {
            @Html.Action("LoadProductHomePage", "Home", new { Id = i })
        }
    </div>
</main>
@section Heads{
    <style>
        body {
            background: #f0f0f0;
        }
    </style>
}