@{
    ViewBag.Title = "Trang Chủ";
    ViewBag.IsMenuExpand = true;
}
    <main id="main">
        <div class="container" id="sliderContainer">
            <div class="row">
                <div div class="col-md-9 offset-md-3 px-0">
                    @Html.Action("LoadSlider", "Home")
                </div>
            </div>
        </div>

        <div class="container py-2">
            <div class="row">
                <div class="col-md-4 my-2">
                    <div class="text-center rounded-0 py-2 border border-primary bg-white">
                        <i class="fas fa-truck text-primary" style="font-size: 25px;"></i>
                        <h6 class="mt-3 mb-1"><a href="">GIAO HÀNG MIỄN PHÍ</a></h6>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="text-center rounded-0 py-2 border border-primary bg-white">
                        <i class="fas fa-credit-card text-primary" style="font-size: 25px;"></i>
                        <h6 class="mt-3 mb-1"><a href="">THANH TOÁN LINH HOẠT</a></h6>
                    </div>
                </div>
                <div class="col-md-4 my-2">
                    <div class="text-center rounded-0 py-2 border border-primary bg-white">
                        <i class="fas fa-shield-alt text-primary" style="font-size: 25px;"></i>
                        <h6 class="mt-3 mb-1"><a href="">BẢO HÀNH UY TÍN</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="lazy">
            @for (int i = 1; i <= 10; i++)
            {
                @Html.Action("LoadProductHomePage", "Home", new { Id = i })
            }

            @*<section id="clients" class="bg-white">
            <div class="container">
                <div class="row no-gutters clients-wrap clearfix">

                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-2.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-3.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-4.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-6.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-7.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-4 col-4">
                        <div class="client-logo">
                            <img src="~/Content/Home/img/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
        </div>
    </main>

@section heads {
    <style type="text/css">
        body {
            background: #f3f5f7;
        }
    </style>
}