@model TheGioiLoa.Models.ViewModel.SocialLinkViewModel
<div class="fb-page"
     data-href="@Model.Link"
     data-tabs="timeline" data-width="" data-height="250"
     data-small-header="true"
     data-adapt-container-width="true"
     data-hide-cover="false"
     data-show-facepile="true">
    <blockquote cite="@Model.Link" class="fb-xfbml-parse-ignore">
        <a href="@Model.Link"></a>
    </blockquote>
</div>
