@model TheGioiLoa.Models.ViewModel.SocialLinkViewModel
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=2347493918804034&autoLogAppEvents=1"></script>

<div class="fb-page"
     data-href="@Model.Link"
     data-tabs="timeline" data-width="420" data-height="250"
     data-small-header="true"
     data-adapt-container-width="true"
     data-hide-cover="false"
     data-show-facepile="true">
    <blockquote cite="@Model.Link" class="fb-xfbml-parse-ignore">
        <a href="@Model.Link"></a>
    </blockquote>
</div>
