@model IEnumerable<TheGioiLoa.Models.Product>


@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="w-20 p-0 col-6">
            <div class="producthome-item">
                <a href="~/cua-hang/san-pham/@item.ProductId/@item.Url">
                    <img src="~/Content/Upload/Images/@(item.ImageId==null?"No_Picture.jpg":item.ImageId)" style="width: 100%" />
                    <h3>@item.Name</h3>
                        @if (item.Status == 1)
                        {
                            if (item.PriceSale != null)
                            {
                                <strong class="price-sale">@string.Format("{0:0,0 ₫}", item.PriceSale)</strong>
                                <del class="price">@string.Format("{0:0,0 ₫}", item.Price)</del>
                            }
                            else
                            {
                                <strong class="price-sale">@(item.Price != null ? string.Format("{0:0,0 ₫}", item.PriceSale):"Đang cập nhật")</strong>
                            }
                        }
                        else
                        {
                            <strong class="small">Tạm hết hàng</strong>
                        }
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="col">
        <p class="text-dark font-italic">Không tìm thấy sản phẩm</p>
    </div>
}
