
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <nav aria-label="breadcrumb" class="float-left">
        <ol class="breadcrumb m-0 ml-auto px-0 bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <div class="social-button float-right mt-3">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fthegioiamthanh.vn&width=151&layout=button_count&action=like&size=small&share=true&height=46&appId=2347493918804034" width="151" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="clearfix"></div>
    <hr class="mt-0 mb-3" />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="product-image">
                <div class="product-show-image">
                    <div class="image-box ratio-1-1">
                        <div class="image image-big" id="image-main" style="background-image: url('../Content/Upload/Product/5445_atxp_combo_3.jpg');">
                            <div class="text-center">
                                <span class="product-discount-label">-10%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-list-image">
                    <div class="row">
                        <div class="col">
                            <div class="image-box ratio-1-1">
                                <div class="image image-big" id="image-main" style="background-image: url('../Content/Upload/Product/5445_atxp_combo_3.jpg');">
                                    <div class="text-center">
                                        <span class="product-discount-label">-10%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image-box ratio-1-1">
                                <div class="image image-big" id="image-main" style="background-image: url('../Content/Upload/Product/5445_atxp_combo_3.jpg');">
                                    <div class="text-center">
                                        <span class="product-discount-label">-10%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image-box ratio-1-1">
                                <div class="image image-big" id="image-main" style="background-image: url('../Content/Upload/Product/5445_atxp_combo_3.jpg');">
                                    <div class="text-center">
                                        <span class="product-discount-label">-10%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="image-box ratio-1-1">
                                <div class="image image-big" id="image-main" style="background-image: url('../Content/Upload/Product/5445_atxp_combo_3.jpg');">
                                    <div class="text-center">
                                        <span class="product-discount-label">-10%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="product-title">
                <h5 class="font-weight-500 mb-1">Combo xem phim CM 06</h5>
            </div>
            <div class="product-review">
                <span class="product-star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="feedback-write text-dark">(Viết đánh giá) | </span>
                    <span class="text-dark">Tình trạng: <span class="text-danger">Còn hàng</span></span>
                </span>
            </div>
            <hr class="my-2" />
            <div class="product-price">
                <h3 class="text-primary font-weight-bold mb-1">96.696.000 đ</h3>
                <p class="product-listed-price">
                    Giá niêm yết
                    <del>105.680.000 đ</del>
                </p>
            </div>
            <div class="product-services mb-4">
                <p class="font-weight-bold mb-1"><i class="fa fa-plus-circle mr-2 text-danger"></i>Giao hàng toàn quốc</p>
                <p class="font-weight-bold mb-1"><i class="fa fa-plus-circle mr-2 text-danger"></i>Miễn phí giao hàng thu tiền (COD free) trong nội thành HN và HCM</p>
                <p class="font-weight-bold mb-1"><i class="fa fa-plus-circle mr-2 text-danger"></i>Miễn phí 1 đổi 1 trong 7 ngày với sản phẩm lỗi</p>
                <p class="font-weight-bold mb-1"><i class="fa fa-plus-circle mr-2 text-danger"></i>Trả góp 0% với thẻ tín dụng ngân hàng (tối thiểu 3 triệu)</p>
                <p class="font-weight-bold mb-1"><i class="fa fa-plus-circle mr-2 text-danger"></i>Bảo hành chính hãng : 12 Tháng</p>
            </div>
            <div class="product-promotion border-primary py-4 px-2 border position-relative">
                <div class="position-absolute product-promotion-label">
                    <p><i class="fa fa-gift mr-2"></i>Khuyến Mãi</p>
                </div>
                <div class="product-promotion-picture">
                    <img src="~/Content/Upload/pmh-10.jpg" style="width: 100%" />
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="service-right card">
                <div class="card-header text-center">
                    <h6 class="font-weight-500 mb-0">YÊM TÂM MUA SẮM</h6>
                </div>
                <div class="card-body">
                    <p class="mb-1"><i class="fa fa-check-circle mr-2 text-danger"></i>Giao hàng miễn phí nội thành Hà Nội, TP.HCMc</p>
                    <p class="mb-1"><i class="fa fa-check-circle mr-2 text-danger"></i>Thanh toán thuận tiện</p>
                    <p class="mb-1"><i class="fa fa-check-circle mr-2 text-danger"></i>Sản phẩm 100% chính hãng</p>
                    <p class="mb-1"><i class="fa fa-check-circle mr-2 text-danger"></i>Bảo hành chính hãng</p>
                    <p class="mb-1"><i class="fa fa-check-circle mr-2 text-danger"></i>Giá cạnh tranh nhất thị trường</p>
                </div>
            </div>
            <div class="buy-button mt-3">
                <a href="#" class="btn btn-primary btn-block">MUA NGAY</a>
                <a href="#" class="btn btn-warning btn-block" style="padding-top: 13px !important;">MUA TRẢ GÓP<br /><span class="small font-weight-normal mt-0">Qua công ty trả góp hoặc thẻ tín dụng</span></a>
                <a href="#" class="btn btn-success btn-block">LIÊN HỆ CỬA HÀNG <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container product-info mt-4 h-100">
    <div class="product-info-header sticky-top">
        <a href="#tab2" class="active">Đặc điểm nổi bật</a>
        <a href="#tab1">Thông số kỹ thuật</a>
        <a href="#tab3">Video</a>
        <a href="#tab4">Sản phẩm bán chạy nhất</a>
        <a href="#tab5">Sản phẩm giá tương đương</a>
        <a href="#tab6">Phụ kiện đi kèm</a>
        <a href="#tab7">Bình luận người dùng</a>
        <a href="#review-statistic" id="gotoReview">Đánh giá sản phẩm</a>
    </div>
    <div class="product-info-content mt-3">
        <div class="row mt-4 h-100">
            <div class="col-md-8">
                <div id="productSpecifications">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">ĐẶC ĐIỂM KỸ THUẬT</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">

                    </div>
                </div>
                <div id="productDetails" class="mt-3">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">THÔNG SỐ KỸ THUẬT</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">
                        <p><strong>Thông số kĩ thuật:&nbsp;<em>Loa Front Jamo S626&nbsp;</em></strong></p>
                        <p>Công suất:&nbsp; &nbsp; &nbsp; &nbsp; 130W /210W<br>Loại loa:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3 đường tiếng, bass phản xạ âm<br>Loa trầm:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;đường kính 203mm<br>Loa trung&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2 loa đường kính 127mm<br>Tweeter:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;25.4mm công nghệ DTT<br>Tần số đáp ứng(+/-3dB):&nbsp; &nbsp; 42hz - 20.000 Hz<br>Tần số cắt&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 150Hz/2500Hz<br>Trở kháng:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6Ω<br>Độ nhạy (2.8V/1m)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;89dB</p>
                        <p><strong>Thông số kĩ thuật :&nbsp;<em>Loa Center Jamo S62</em></strong></p>
                        <p>Hệ thống loại 2 chiều&nbsp;<br>Trở kháng :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;6 Ohm<br>Trọng lượng (Kg / lb)&nbsp; 5.2 / 11.5<br>Tweeter (mm / in):&nbsp; &nbsp; &nbsp; &nbsp;25/1<br>Woofer (mm / in) :&nbsp; &nbsp; &nbsp; &nbsp;102/4<br>Kích thước sản phẩm (mm / in, HxWxD) 133 x 400 x 210 / 5,2 x 15,7 x 8,3<br>Đáp ứng tần số (Hz, +/- 3dB) :&nbsp; &nbsp; &nbsp; &nbsp;75-20,000<br>Công suất xử lý :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;80-130W<br>Độ nhạy :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;87 Db<br>Vỏ thùng:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;màu đen, vân gỗ</p>
                        <p><strong>Thông số kĩ thuật :&nbsp;<em>Loa Surround&nbsp;&nbsp;Jamo S622</em></strong></p>
                        <p>Tần số đáp ứng:&nbsp; &nbsp; &nbsp; &nbsp; 80 – 20.000 Hz <br>Công suất:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;80 / 130W <br>Độ nhạy:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 87 dB <br>Tần số cắt:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2.500Hz <br>Trở kháng loa:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;6 <br>Kích thước sản phẩm (CxRxS): 240x133x210 mm <br>Trọng lượng (kg):&nbsp; &nbsp; &nbsp; &nbsp;15,2 <br>Màu:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Đen, Trắng, Nâu&nbsp;</p>
                        <p><strong>Thông số kĩ thuật :&nbsp;<em>Loa Subwoofer Jamo SUB J10</em></strong></p>
                        <p>Công suất :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 150W / 300W<br>Trọng lượng:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 12kg<br>Loa siêu trầm:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;254mm (10") Aluminized Polyfiber<br>Đầu vào:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Dòng Cấp RCA<br>Kích thước sản phẩm (mm): 368,3(cao) x 317,5(rộng) x 427(sâu)<br>Đáp ứng tần số (+/- 3dB): 31Hz - 120Hz<br>Công suất đánh giá đánh giá: 150W<br>Tần số cắt:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 40-120Hz<br>Kiểm soát chuyển đổi Pha: 0/180</p>
                        <p><strong>Thông số kĩ thuật :&nbsp;<em>Ampli Yamaha Reciever 7.1ch RX-V585</em></strong></p>
                        <p>Phần Ampli Kênh 7,2<br>Công suất đầu ra định mức (1kHz, 1ch driven) 115 W (6 ôm, 0,9% THD)<br>Công suất đầu ra định mức (20Hz-20kHz, 2ch driven) 80 W (6 ôm, 0,09% THD)<br>Công suất Đầu ra Hiệu dụng Tối Đa (1kHz, 1ch driven) (JEITA) 145 W (6 ôm, 10% THD)<br>Công suất động mỗi kênh (8/6/4/2 ohms) - / 140 / 170 / 190 W<br>Xử lý Âm Thanh Nổi CINEMA DSP Có (3D)<br>Chương trình DSP 17<br>Điều Chỉnh Mức Thoại Có<br>Chế độ Loa Ảo Có<br>Loa vòm phía sau ảo Có<br>Nâng Cao Lời Thoại Có<br>SILENT CINEMA / CINEMA DSP Ảo Có (Virtual CINEMA FRONT)<br>Dolby Atmos Có<br>Dolby TrueHD Có<br>Dolby Digital Plus Có<br>Dolby Surround Có<br>DTS:X Có<br>DTS-HD Master Audio Có<br>Các đặc điểm audio Style File Format (Định Dạng Tệp Tiết Tấu) MP3 / WMA / MPEG-4 AAC: lên đến 48 kHz / 16 bit, ALAC: lên đến 96 kHz / 24 bit, FLAC: lên đến 192 kHz / 24 bit, WAV / AIFF: lên đến 192 kHz / 32 bit, DSD: lên đến 11,2 MHz<br>Tính năng nâng cao nhạc nén Có (bao gồm bộ tăng cường cho Bluetooth®)<br>Tối ưu hóa âm thanh YPAO Có<br>DRC thích ứng (Kiểm soát dải động) Có<br>Cài đặt Âm lượng tối đa &amp; Âm Lượng Ban đầu Có<br>Công suất 2 ampli Có<br>Độ trễ âm thanh Có (0-500 ms)<br>Bộ chuyển đổi DA DAC Burr-Brown 384 kHz / 32 bit x 4<br>Các đặc điểm video 4K Ultra HD Pass-through và upscaling Có (4K / 60p, 4:4:4)<br>HDMI 3D passthrough Có<br>HDMI eARC Có (thông qua cập nhật phần mềm cơ sở trong tương lai)<br>Kênh phản hồi HDMI Audio Có<br>Nâng cấp độ phân giải HDMI Có (HDMI® sang HDMI<br>Màu sâu/x.v.Color/Tốc độ làm mới 24Hz/Tự động nhép môi Có<br>Kết nối Âm thanh vòm MusicCast Có<br>Ngõ ra/Ngõ vào HDMI 4 / 1 (tương thích HDCP2.2, HDR10 / Dolby Vision / HLG và BT.2020)<br>HDMI CEC Có<br>Ngõ vào USB Bộ nhớ USB, Máy phát âm thanh di động<br>Cổng mạng Có<br>Wi-Fi Có (2,4 / 5 GHz)<br>Preout Loa siêu trầm (2 x mono)</p>
                        <p>Kích thước (W x H x D):&nbsp; 435 x 161 x 327 mm&nbsp;<br>Trọng lượng :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;8,1 kg; 17,9 lbs</p>
                        <p><strong>Thông số kĩ thuật :&nbsp;<em>Đầu&nbsp;HOMEKARA EVO 4K 3TB</em></strong></p>
                        <p>+ Gắn sẵn ổ cứng dung lượng 3000GB (3TB), chứa 30.000 bài hát Karaoke đầy đủ thể loại, âm thanh chuẩn phòng thu tương đương beat nhạc được ca sỹ dùng để biểu diễn trên sân khấu lớn (lossless,dolby digital,mp3 320kps). ÂM LƯỢNG ĐỒNG ĐỀU nhau hoàn toàn, không có hiện tượng bài to bài nhỏ.</p>
                        <p>+ Chọn bài bằng remote cầm tay hoặc thông qua iPhone/iPad hoặc điện thoại/máy tính bảng Android. Tốc độ kết nối siêu nhanh, thao tác sử dụng quá dễ. Không cần internet vẫn điều khiển bình thường.</p>
                        <p>+ Cập nhật bài hát hàng tháng miễn phí tự động nếu có mạng, tất cả đều là những bài hát mới nhất, HOT nhất trên các bảng xếp hạng âm nhạc, chất lượng cao nhất, chưa hề có karaoke ở bất kỳ đâu:</p>
                        <p>+ Cấu hình cực mạnh: Soc RTD1295,DDR4 2GB,ROM 16GB,WiFi AC,Bluetooth 4.0,Android 6.0.1, HDD 3.5" hỗ trợ 10TB,cổng USB type C, cổng HDMI in,...</p>
                        <p>+ Xem phim 4K ISO chuyên nghiệp với tốc độ khung hình lên tới 60fps, giải mã &amp; passthouth hoàn toàn âm thanh Dolby Atmos và DTS: X 7.1. Chất lượng hình ảnhCỰC KỲ ĐẸP. Biến phòng khách của bạn thành rạp chiếu phim đẳng cấp.</p>
                    </div>
                </div>
                <div id="productVideos" class="mt-3">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">VIDEOS</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">

                    </div>
                </div>
                <div id="productRelateds" class="mt-3">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">SẢN PHẨM TƯƠNG ĐƯƠNG</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">
                        <div class="container">
                            <div class="row">
                                @for (int i = 1; i <= 4; i++)
                                {
                                    <div class="w-20 col-md-3 col-sm-4 col-6 px-1 mt-2">
                                        <div class="product-grid">
                                            <div class="product-image">
                                                <a href="#">
                                                    <img class="pic-1" src="~/Content/Upload/Product/5445_atxp_combo_3.jpg" />
                                                </a>
                                                <div class="product-content-hover">
                                                    <p class="short-description">Combo xem phim đỉnh cao kết hợp với các hãng âm thanh nổi tiếng. Đem lại cho bạn trải nghiệm chân thực, sống động</p>
                                                    <p class="mb-0" style="margin-top: -10px;">...</p>
                                                    <p class="service text-success">Bảo hành 12 tháng</p>
                                                    <a href="#" class="view-now">Xem Ngay</a>
                                                </div>
                                                <span class="product-new-label bg-success text-white">Mới</span>
                                                <span class="product-discount-label">-10%</span>
                                            </div>
                                            <div class="product-content">
                                                <h4 class="title"><a href="#">Combo xem phim CM 01</a></h4>
                                                <div class="price">
                                                    58.000.000 ₫
                                                    <span class="price-sale">60.000.000 ₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="productAccessories" class="mt-3">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">PHỤ KIỆN ĐI KÈM</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">
                        <div class="container">
                            <div class="row">
                                @for (int i = 1; i <= 4; i++)
                                {
                                    <div class="w-20 col-md-3 col-sm-4 col-6 px-1 mt-2">
                                        <div class="product-grid">
                                            <div class="product-image">
                                                <a href="#">
                                                    <img class="pic-1" src="~/Content/Upload/Product/5445_atxp_combo_3.jpg" />
                                                </a>
                                                <div class="product-content-hover">
                                                    <p class="short-description">Combo xem phim đỉnh cao kết hợp với các hãng âm thanh nổi tiếng. Đem lại cho bạn trải nghiệm chân thực, sống động</p>
                                                    <p class="mb-0" style="margin-top: -10px;">...</p>
                                                    <p class="service text-success">Bảo hành 12 tháng</p>
                                                    <a href="#" class="view-now">Xem Ngay</a>
                                                </div>
                                                <span class="product-new-label bg-success text-white">Mới</span>
                                                <span class="product-discount-label">-10%</span>
                                            </div>
                                            <div class="product-content">
                                                <h4 class="title"><a href="#">Combo xem phim CM 01</a></h4>
                                                <div class="price">
                                                    58.000.000 ₫
                                                    <span class="price-sale">60.000.000 ₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="productViewed" class="mt-3">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">SẢN PHẨM ĐÃ XEM</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">
                        <div class="container">
                            <div class="row">
                                @for (int i = 1; i <= 4; i++)
                                {
                                    <div class="w-20 col-md-3 col-sm-4 col-6 px-1 mt-2">
                                        <div class="product-grid">
                                            <div class="product-image">
                                                <a href="#">
                                                    <img class="pic-1" src="~/Content/Upload/Product/5445_atxp_combo_3.jpg" />
                                                </a>
                                                <div class="product-content-hover">
                                                    <p class="short-description">Combo xem phim đỉnh cao kết hợp với các hãng âm thanh nổi tiếng. Đem lại cho bạn trải nghiệm chân thực, sống động</p>
                                                    <p class="mb-0" style="margin-top: -10px;">...</p>
                                                    <p class="service text-success">Bảo hành 12 tháng</p>
                                                    <a href="#" class="view-now">Xem Ngay</a>
                                                </div>
                                                <span class="product-new-label bg-success text-white">Mới</span>
                                                <span class="product-discount-label">-10%</span>
                                            </div>
                                            <div class="product-content">
                                                <h4 class="title"><a href="#">Combo xem phim CM 01</a></h4>
                                                <div class="price">
                                                    58.000.000 ₫
                                                    <span class="price-sale">60.000.000 ₫</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="second-services-right card position-sticky">
                    <div class="product-title card-header text-center">
                        <h5 class="font-weight-500 mb-1">Combo xem phim CM 06</h5>
                    </div>
                    <div class="card-body">
                        <div class="product-price">
                            <p>
                                Giá bán:
                                <span class="text-primary font-weight-bold h3 ml-5">96.696.000 đ</span>
                            </p>
                            <p class="product-listed-price">
                                Giá thị trường:
                                <del class="ml-3" style="font-size: 16px">105.680.000 đ</del>
                            </p>
                        </div>
                        <div class="buy-button mt-3">
                            <a href="#" class="btn btn-primary btn-block">MUA NGAY</a>
                            <a href="#" class="btn btn-warning btn-block" style="padding-top: 13px !important;">MUA TRẢ GÓP<br /><span class="small font-weight-normal mt-0">Qua công ty trả góp hoặc thẻ tín dụng</span></a>
                            <a href="#" class="btn btn-success btn-block">LIÊN HỆ CỬA HÀNG <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="productComments" class="mt-3">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">BÌNH LUẬN - NHẬN XÉT</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">
                        <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="770" data-numposts="7"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="productComment" class="mt-3">
                    <div class="product-tab-header">
                        <div class="product-tab-header-title float-left bg-primary py-1 position-relative">
                            <h6 class="font-weight-bold my-0 mx-2 text-white">CHI TIẾT ĐÁNH GIÁ</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tbl-technical nd mt-2">
                        <div class="product-review star-list">
                            <span class="product-star" style="font-size: 15px;">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span class="feedback-write text-info">(1 người đánh giá)</span>
                            </span>
                        </div>
                        <div class="product-review-details">
                            <p><b id="starCount">5</b>/5 sao</p>
                            <div class="line-rating text-info">
                                <div class="line-rating-details">
                                    <h6 class="text-info float-left">5 sao</h6>
                                    <div class="progress w-75 float-left ml-3">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h6 class="text-info float-left ml-3">6</h6>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="line-rating-details">
                                    <h6 class="text-info float-left">4 sao</h6>
                                    <div class="progress w-75 float-left ml-3">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 30%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h6 class="text-info float-left ml-3">3</h6>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="line-rating-details">
                                    <h6 class="text-info float-left">3 sao</h6>
                                    <div class="progress w-75 float-left ml-3">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h6 class="text-info float-left ml-3">1</h6>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="line-rating-details">
                                    <h6 class="text-info float-left">2 sao</h6>
                                    <div class="progress w-75 float-left ml-3">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h6 class="text-info float-left ml-3">0</h6>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="line-rating-details">
                                    <h6 class="text-info float-left">1 sao</h6>
                                    <div class="progress w-75 float-left ml-3">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h6 class="text-info float-left ml-3">0</h6>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
