@model IEnumerable<TheGioiLoa.Models.ViewModel.BlogViewModel>

@if (Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <div class="row blog-content-list m-0 p-1">
            <div class="col-md-4 p-0 col-4">
                <div class="image-box ratio-16-9 h-100 my-auto">
                    <a href="/tin-tuc/chi-tiet/@item.BlogId/@item.Url" class="image image-big" id="image-main" style="background-image: url('../../Content/Upload/Images/@item.Cover');"></a>
                </div>
            </div>
            <div class="col-md-8 p-0 col-8">
                <div class="p-2">
                    <a href="/tin-tuc/chi-tiet/@item.BlogId/@item.Url">
                        <h4 class="blog-content-title m-0">@item.Title</h4>
                    </a>
                    <p class="blog-time-created mb-0 mt-1">@item.DateCreated.ToString("dd/MM/yyyy, HH:mm tt")</p>
                </div>
            </div>
        </div>
        <hr class="m-0" />
    }
}
else
{
    <div class="text-center py-2">
        <p>Chưa có dữ bài viết nào</p>
    </div>
}
