@model IEnumerable<TheGioiLoa.Models.Image>

@foreach (var item in Model)
{
    <div class="col-md-3 px-0">
        <img src="~/Content/Upload/Images/@item.ImageId" style="width: 100%;" />
    </div>
}
