@model IEnumerable<TheGioiLoa.Models.Image>

@foreach (var item in Model)
{
    <div class="col-md-3 px-0">
        <div class="image-box ratio-1-1">
            <div href="#" class="image" style="background-image: url('../Content/Upload/Images/@item.ImageId');">
            </div>
        </div>
    </div>
}
