@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Lỗi";
}

<div class="container my-5 py-5">
    <div class="error-page text-center">
        <h1 class="text-warning"> 404</h1>
        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Liên kết không tồn tại.</h3>
            <p>Chúng tôi không tìm thấy đường dẫn bạn đã truy cập. Vui lòng thử lại!</p>
            <a href="~/" class="btn btn-success">Quay về Trang Chủ</a>
        </div>
    </div>
</div>