body {
    color: #686b6e
}
.btn {
    display: inline-block;
    font-weight: 600;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn-primary:focus, .btn-primary.focus {
    background: #ffeae6;
    color: #db5d56;
    border: none;
}
@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.badge-warning {
    color: #fff;
}
.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none
}

.btn.disabled, .btn:disabled {
    opacity: .65;
    box-shadow: none
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    box-shadow: none
}

a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: none
}

.btn-primary {
    background: #ffeae6;
    color: #db5d56;
    border-color: none;
    box-shadow: none
}

    .btn-primary:hover {
        color: #fff;
        background-color: #f07d73;
    }

    .btn-primary.focus, .btn-primary:focus {
        box-shadow: none,0 0 0 0 rgba(38,143,255,.5)
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #f28e85;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #f07d73;
    }

        .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(38,143,255,.5)
        }

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none
}

    .btn-secondary:hover {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62
    }

    .btn-secondary.focus, .btn-secondary:focus {
        box-shadow: none,0 0 0 0 rgba(130,138,145,.5)
    }

    .btn-secondary.disabled, .btn-secondary:disabled {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #545b62;
        border-color: #4e555b
    }

        .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(130,138,145,.5)
        }

.btn-success {
    color: #40B279;
    background-color: #e8faf1;
    border-color: none;
    box-shadow: none
}

    .btn-success:hover {
        color: #fff;
        background-color: #40B279;
    }

    .btn-success.focus, .btn-success:focus {
        box-shadow: none,0 0 0 0 rgba(72,180,97,.5);
        color: #fff;
        background-color: #40B279;
    }

    .btn-success.disabled, .btn-success:disabled {
        color: #fff;
        background-color: #40B279;
    }

    .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #40B279;
    }

        .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(72,180,97,.5);
            color: #fff;
            background-color: #40B279;
        }

.btn-info {
    color: #1490d9;
    background-color: #d4edff;
    box-shadow: none
}

    .btn-info:hover {
        color: #fff;
        background-color: #6bbded;
    }

    .btn-info.focus, .btn-info:focus {
        box-shadow: none,0 0 0 0 rgba(30, 150, 235,.5);
        color: #fff;
        background-color: #6bbded;
    }

    .btn-info.disabled, .btn-info:disabled {
        color: #fff;
        background-color: #6bbded;
    }

    .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
        color: #fff;
        background-color: #6bbded;
    }

        .btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(30, 150, 235,.5)
        }

.btn-warning {
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none
}

    .btn-warning:hover {
        color: #1f2d3d;
        background-color: #e0a800;
        border-color: #d39e00
    }

    .btn-warning.focus, .btn-warning:focus {
        box-shadow: none,0 0 0 0 rgba(221,171,15,.5)
    }

    .btn-warning.disabled, .btn-warning:disabled {
        color: #1f2d3d;
        background-color: #ffc107;
        border-color: #ffc107
    }

    .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
        color: #1f2d3d;
        background-color: #d39e00;
        border-color: #c69500
    }

        .btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(221,171,15,.5)
        }

.btn-danger {
    color: #dc3545;
    background-color: #ffe3e6;
    border-color: none;
    box-shadow: none
}

    .btn-danger:hover {
        color: #fff;
        background-color: #db4f5c;
    }

    .btn-danger.focus, .btn-danger:focus {
        box-shadow: none,0 0 0 0 rgba(225,83,97,.5);
        color: #fff;
        background-color: #db4f5c;
    }

    .btn-danger.disabled, .btn-danger:disabled {
        color: #fff;
        background-color: #db4f5c;
    }

    .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #db4f5c;
    }

        .btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-danger.dropdown-toggle:focus {
            color: #fff;
            background-color: #db4f5c;
        }

.btn-light {
    color: #1f2d3d;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: none
}

    .btn-light:hover {
        color: #1f2d3d;
        background-color: #e2e6ea;
        border-color: #dae0e5
    }

    .btn-light.focus, .btn-light:focus {
        box-shadow: none,0 0 0 0 rgba(215,218,222,.5)
    }

    .btn-light.disabled, .btn-light:disabled {
        color: #1f2d3d;
        background-color: #f8f9fa;
        border-color: #f8f9fa
    }

    .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
        color: #1f2d3d;
        background-color: #dae0e5;
        border-color: #d3d9df
    }

        .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(215,218,222,.5)
        }

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    box-shadow: none
}

    .btn-dark:hover {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124
    }

    .btn-dark.focus, .btn-dark:focus {
        box-shadow: none,0 0 0 0 rgba(82,88,93,.5)
    }

    .btn-dark.disabled, .btn-dark:disabled {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40
    }

    .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show > .btn-dark.dropdown-toggle {
        color: #fff;
        background-color: #1d2124;
        border-color: #171a1d
    }

        .btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show > .btn-dark.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(82,88,93,.5)
        }

.btn-outline-primary {
    color: #d42d22;
    border-color: #d42d22
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #d42d22;
        border-color: #d42d22
    }

    .btn-outline-primary.focus, .btn-outline-primary:focus {
        box-shadow: 0 0 0 0 rgba(0,123,255,.5)
    }

    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #d42d22;
        background-color: transparent
    }

    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #d42d22;
        border-color: #d42d22
    }

        .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(0,123,255,.5)
        }

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d
}

    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d
    }

    .btn-outline-secondary.focus, .btn-outline-secondary:focus {
        box-shadow: 0 0 0 0 rgba(108,117,125,.5)
    }

    .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
        color: #6c757d;
        background-color: transparent
    }

    .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d
    }

        .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(108,117,125,.5)
        }

.btn-outline-success {
    color: #46ab61;
    border-color: #46ab61
}

    .btn-outline-success:hover {
        color: #fff;
        background-color: #46ab61;
        border-color: #46ab61
    }

    .btn-outline-success.focus, .btn-outline-success:focus {
        box-shadow: 0 0 0 0 rgba(40,167,69,.5)
    }

    .btn-outline-success.disabled, .btn-outline-success:disabled {
        color: #46ab61;
        background-color: transparent
    }

    .btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
        color: #fff;
        background-color: #46ab61;
        border-color: #46ab61
    }

        .btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(40,167,69,.5)
        }

.btn-outline-info {
    color: #1e96eb;
    border-color: #1e96eb
}

    .btn-outline-info:hover {
        color: #fff;
        background-color: #1e96eb;
        border-color: #1e96eb
    }

    .btn-outline-info.focus, .btn-outline-info:focus {
        box-shadow: 0 0 0 0 rgba(23,162,184,.5)
    }

    .btn-outline-info.disabled, .btn-outline-info:disabled {
        color: #1e96eb;
        background-color: transparent
    }

    .btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
        color: #fff;
        background-color: #1e96eb;
        border-color: #1e96eb
    }

        .btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(23,162,184,.5)
        }

.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107
}

    .btn-outline-warning:hover {
        color: #1f2d3d;
        background-color: #ffc107;
        border-color: #ffc107
    }

    .btn-outline-warning.focus, .btn-outline-warning:focus {
        box-shadow: 0 0 0 0 rgba(255,193,7,.5)
    }

    .btn-outline-warning.disabled, .btn-outline-warning:disabled {
        color: #ffc107;
        background-color: transparent
    }

    .btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active, .show > .btn-outline-warning.dropdown-toggle {
        color: #1f2d3d;
        background-color: #ffc107;
        border-color: #ffc107
    }

        .btn-outline-warning:not(:disabled):not(.disabled).active:focus, .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(255,193,7,.5)
        }

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545
}

    .btn-outline-danger:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545
    }

    .btn-outline-danger.focus, .btn-outline-danger:focus {
        box-shadow: 0 0 0 0 rgba(220,53,69,.5)
    }

    .btn-outline-danger.disabled, .btn-outline-danger:disabled {
        color: #dc3545;
        background-color: transparent
    }

    .btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show > .btn-outline-danger.dropdown-toggle {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545
    }

        .btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(220,53,69,.5)
        }

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa
}

    .btn-outline-light:hover {
        color: #1f2d3d;
        background-color: #f8f9fa;
        border-color: #f8f9fa
    }

    .btn-outline-light.focus, .btn-outline-light:focus {
        box-shadow: 0 0 0 0 rgba(248,249,250,.5)
    }

    .btn-outline-light.disabled, .btn-outline-light:disabled {
        color: #f8f9fa;
        background-color: transparent
    }

    .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show > .btn-outline-light.dropdown-toggle {
        color: #1f2d3d;
        background-color: #f8f9fa;
        border-color: #f8f9fa
    }

        .btn-outline-light:not(:disabled):not(.disabled).active:focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(248,249,250,.5)
        }

.btn-outline-dark {
    color: #343a40;
    border-color: #343a40
}

    .btn-outline-dark:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40
    }

    .btn-outline-dark.focus, .btn-outline-dark:focus {
        box-shadow: 0 0 0 0 rgba(52,58,64,.5)
    }

    .btn-outline-dark.disabled, .btn-outline-dark:disabled {
        color: #343a40;
        background-color: transparent
    }

    .btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .btn-outline-dark.dropdown-toggle {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40
    }

        .btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
            box-shadow: 0 0 0 0 rgba(52,58,64,.5)
        }

.btn-link {
    font-weight: 400;
    color: #d42d22;
    text-decoration: none
}

    .btn-link:hover {
        color: #991f17;
        text-decoration: none
    }

    .btn-link.focus, .btn-link:focus {
        text-decoration: none;
        box-shadow: none
    }

    .btn-link.disabled, .btn-link:disabled {
        color: #6c757d;
        pointer-events: none
    }

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}

.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.btn-block {
    display: block;
    width: 100%
}

    .btn-block + .btn-block {
        margin-top: .5rem
    }

.table thead th {
    border-bottom-width: 1px;
}
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #79bfe8;
    border-radius: 20px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1490d9;
}
@keyframes ldio-dmto02pujx {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.content-wrapper {
    background: #fafafa;
}
.btn-status {
    min-width: 73px;
}
.text-sm .btn {
    font-size: .75rem !important;
}
.ldio-dmto02pujx div {
  left: 60.45px;
  top: 46.15px;
  position: absolute;
  animation: ldio-dmto02pujx linear 0.9803921568627451s infinite;
  background: #e55e3b;
  width: 9.1px;
  height: 9.1px;
  border-radius: 4.55px / 4.55px;
  transform-origin: 4.55px 18.85px;
}.ldio-dmto02pujx div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.8403361344537814s;
  background: #e55e3b;
}.ldio-dmto02pujx div:nth-child(2) {
  transform: rotate(51.42857142857143deg);
  animation-delay: -0.7002801120448179s;
  background: #e55e3b;
}.ldio-dmto02pujx div:nth-child(3) {
  transform: rotate(102.85714285714286deg);
  animation-delay: -0.5602240896358543s;
  background: #e55e3b;
}.ldio-dmto02pujx div:nth-child(4) {
  transform: rotate(154.28571428571428deg);
  animation-delay: -0.4201680672268907s;
  background: #e55e3b;
}.ldio-dmto02pujx div:nth-child(5) {
  transform: rotate(205.71428571428572deg);
  animation-delay: -0.2801120448179272s;
  background: #e55e3b;
}.ldio-dmto02pujx div:nth-child(6) {
  transform: rotate(257.14285714285717deg);
  animation-delay: -0.1400560224089636s;
  background: #e55e3b;
}.ldio-dmto02pujx div:nth-child(7) {
  transform: rotate(308.57142857142856deg);
  animation-delay: 0s;
  background: #e55e3b;
}
.loadingio-spinner-spinner-0g9wfi70d3hr {
  width: 130px;
  height: 130px;
  overflow: hidden;
  background: none;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
}
.ldio-dmto02pujx {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dmto02pujx div { box-sizing: content-box; }
#loadingGif {
    opacity: 0;
    height: 100%;
    top: 0;
    background: rgba(255,255,255,.8);
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s;
}
.custom-control-label::after {
    left: -1.5rem;
    top: .2rem;
}
.custom-control-label::before {
    top: .2rem;
    left: -1.5rem;
}
#createProduct .custom-control {
    padding-left: 1.5rem;
}
.note-editor {
    border: none !important;
    border-radius: 0;
    margin: 0 !important;
}
.note-editor .dropdown-item {
    color: #414141 !important;
}
.note-editor .card-header {
    background: rgba(30, 150, 235, .08) !important;
}
.note-editor .note-btn {
    background: none !important;
    border: 0;
}
.card {
    border-radius: 8px !important;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px #e6e6e6 !important;
}
.card-header {
    padding: .8rem;
    border: none;
}
.card-body {
    padding: .8rem;
}
label {
    margin: 0;
}
.form-group {
    margin-bottom: 1rem;
}
.card-title {
    font-weight: 600;
    font-size: 1rem;
    color: #1e96eb;
    padding: .6rem 0;
    text-transform: uppercase;
}
.form-control {
    border-radius: 6px !important;
    background: rgba(212, 45, 34,.02);
    border: none;
    border-bottom: 2px solid rgba(212, 45, 34,.3);
    box-shadow: none;
}

select option {
    background: #fff;
}
.btn {
    border-radius: 6px !important;
    border: none;
}



.custom-checkbox .custom-control-label::before {
    border-radius: 4px !important;
    background-color: rgba(30, 150, 235, .03);
    box-shadow: none;
    border-color: rgba(30, 150, 235, .2);
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgba(30, 150, 235, .8);
    border-color: rgba(30, 150, 235, .5);
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

#files {
    overflow-y: scroll !important;
    min-height: 320px;
}
@media (min-width: 768px) {
	#files {
		min-height: 0;
	}
}
#debug {
	overflow-y: scroll !important;
	height: 180px;	
}

.dm-uploader {
	border: 0.25rem dashed #A5A5C7;
	text-align: center;
}
.dm-uploader.active {
	border-color: red;

	border-style: solid;
}
.image-box::before {
    content: "";
    display: block;
    padding-top: 100%
}

.image-box .image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0px;
    margin: auto;
    padding: 2px;
    background-position: center;
    background-size: cover;
}

.image-big {
    transition: .5s
}

.list-image .col-2 {
    padding: 5px !important
}

    .list-image .col-2:hover {
        padding: 4px !important;
        border: 1px solid red
    }

.image-box.ratio-1-1::before {
    padding-top: 100%
}

.image-box.ratio-2-1::before {
    padding-top: 50%
}

.image-box.ratio-1-2::before {
    padding-top: 200%
}

.image-box.ratio-4-3:before {
    padding-top: 75%
}

.image-box.ratio-5-3:before {
    padding-top: 60%
}

.image-box.ratio-16-9:before {
    padding-top: 56.25%
}

.image-box.ratio-16-5:before {
    padding-top: 31.25%
}

.image-box.ratio-16-8:before {
    padding-top: 50%
}

.image-box.ratio-16-10:before {
    padding-top: 66.6666%
}
.image-box.ratio-20-9:before {
    padding-top: 45%
}
.image-box.ratio-16-6:before {
    padding-top: 37.5%
}
.overlay {
    background: rgba(0,0,0,0.6) !important;
    border-radius: 0 !important;
}
.category-parent {
    margin: .4rem 0;
}
.category-child {
    margin: .3rem 0 .3rem 1.25rem;
}
.category-sub-child {
    margin: .3rem 0 .3rem 1.25rem;
}
.category-parent .nav-link {
    padding: 0;
}
.category-parent .clearfix {
    border-bottom: 1px solid #f5f5f5;
}
.spinner-loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    z-index: 10002;
}
.spinner-loading img {
    position: absolute;
    width: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#submitFormButton {
    height: 100%;
}
.form-control {
    border-top: 1px solid rgba(0,0,0,.02);
    border-right: 1px solid rgba(0,0,0,.02);
    border-left: 1px solid rgba(0,0,0,.02);
}
.library-image {
    padding: 1rem 1rem 2rem 1rem;
}
.library-image img {
    width: 100%;
}
.library-image span {
    top: 5px;
    right: 5px;
}
.library-image button {
    position: absolute;
    bottom: 3px;
    left: 38%;
    padding: 1px 3px;
}
.order-information p {
    margin-bottom: 0;
}
