@model TheGioiLoa.Models.ViewModel.EditCategoryViewModel

@using (Ajax.BeginForm("EditCategory", "Admin", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "closeModal",
    OnSuccess = "loadingNoti",
    OnFailure = "editCategoryFailure",
}, new { @id = "EditCategoryForm" }))
{
    <div class="modal-header">
        <h4 class="modal-title" id="titleModal">Chỉnh sửa danh mục</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(model=>model.CategoryId)
        <div class="form-group">
            <label for="Name">Tên danh mục</label>
            <input type="text" name="Name" id="Name" class="form-control input-form-name" required value="@Model.Name" />
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
        <button type="submit" class="btn btn-primary">Lưu Lại</button>
    </div>
}